# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
__pycache__/
*.pyc

# Flask/Backend
.env
*.env
.env.*
instance/
*.sqlite3
*.db

# Node.js
node_modules/

# React/Frontend
frontend/node_modules/
frontend/node_modules/.cache/
frontend/build/
frontend/.env
frontend/.env.*

# VSCode/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Misc
*.history
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#  ignore all generated violation files 
static/violations/